.container-product-add-edit {
  align-items: center;
  justify-content: center;
  justify-items: center;

  min-width: 80vw;

  margin-top: 32px;
  padding: 32px;

  background: #fcfcfc;
  border-radius: 6px;
}

.container-product-add-edit input {
  background: #fffefe;
}

.container-title {
  margin-top: 24px;
  margin-bottom: 64px;
}
.container-input-title {
  position: relative;
}

.input-title {
  width: 797px;
  height: 52px;

  margin-right: 32px;

  border: 1.5px solid #191919;
  border-radius: 6px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.382174px;

  color: #191919;
}

.counter-title {
  position: absolute;
  margin: auto;

  right: 6%;
  bottom: 21%;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.382174px;

  color: #858585;
}

.select-categories {
  width: 355px;
  height: 52px;

  padding: 12px 18px;

  border: 1.5px solid #191919;
  border-radius: 6px;
  background: #fffefe;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.382174px;

  color: #191919;
}

.input-description {
  width: 797px;
  height: 200px;

  margin-right: 32px;
  padding: 16px;

  border: 1.5px solid #191919;
  border-radius: 6px;
  resize: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.382174px;

  color: #191919;
}

.counter-description {
  margin-left: 740px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.382174px;

  color: #858585;
}

.container-price {
  margin: 32px 0px;
}

.input-values {
  width: 175px;
  height: 44px;

  border: 1.5px solid #191919;
  border-radius: 6px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.382174px;

  color: #191919;
}

.input-price {
  margin-right: 48px;
}

.input-file {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  height: 160px;

  margin-top: 12px;

  box-sizing: border-box;

  background: #fffefe;
  border: 1px dashed #383842;
}

.btn-post {
  width: 152px;
  height: 48px;

  margin-top: 40px;
  margin-right: 32px;

  background: #b7005c;
  border-radius: 24px;
}

.btn-cancel {
  width: 98px;
  height: 48px;

  margin-top: 40px;

  font-weight: 600;
  font-size: 16px;

  background-color: #f8f8f8;

  border: 1px solid #b7005c;
  border-radius: 24px;

  color: #b7005c;
}
