.display-flex {
  display: flex;
}

.display-flex-align-justify {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.display-space-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
