nav {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  position: initial;
  margin: 0;

  min-width: 100%;
  max-height: 15vh;

  height: 20%;

  padding: 0px 100px;

  background-color: #ffffff;
}

.logo-navbar {
  height: 15%;
  width: 15%;
  margin-top: 0.5%;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  list-style: none;

  text-align: center;

  cursor: pointer;
}

ul li img {
  height: 70%;
}

nav button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 185px;
  height: 48px;

  background: #b7005c;
  border: none;
  border-radius: 24px;

  color: white;
  cursor: pointer !important;
}
