body {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 100vw;
  min-height: 100vh;

  background-color: #f4f4f4;
}

.sing-up {
  width: 446px;
  min-height: 767px;

  background: #fcfcfc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.sing-up,
form {
  justify-content: center;
}

.logo-sing-up {
  width: 166px;
  height: 80px;

  margin-top: 12px;
}

h1 {
  margin-top: 12px;
  margin-bottom: 0px;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.382174px;

  color: #383842;
}

h4 {
  margin-bottom: 14px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.382174px;

  color: #191919;
}

.component-input {
  height: 2.3rem;
  width: 18rem;
}

.component-input label {
  font-weight: 600;
  font-size: 16px;

  color: #383842;
}

.component-input input {
  width: 100%;
  height: 100%;

  background: #f8f8f8;
  border: 1.5px solid #858585;
  border-radius: 6px;
}

.sing-up {
  align-items: center;

  max-height: 440px;
  max-width: 550px;

  padding: 12px;

  background-color: #ffffff;
}

.label-sign-up {
  margin-left: 20px;
}

form {
  align-items: center;
}

form .btn-sign-up {
  align-self: center;
  flex-direction: row;
  gap: 8px;

  width: 112px;
  height: 46px;
  margin: 0;

  margin-bottom: 24px;
  padding: 20px 16px;

  background: #b7005c;
  border: none;
  border-radius: 30px;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.38px;

  color: #f3f3f3;

  cursor: pointer;
}

.sing-up .span-sign-up {
  text-align: center;
  margin: 12px 32px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.382174px;

  color: #191919;
}

.strong-sign-up {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.382174px;

  color: #d10070;
  cursor: pointer;
}
